@charset "utf-8";
/* mobile.css서식 */
@media screen and (max-width:767px) {
  body{
    background:beige;
  }
  .close_btn,.menu_btn{display: block;}
    .icon{text-indent: -9000px;}
    .gnb_wrap{
        width: 100%;
        height: 100%;
        background: #82426C;
        z-index: 1;
        display: none;
        /* right: 0px; */
    }
    .gnb_wrap h1{
        position: absolute;
        top: 15px;
        right: 50%;
        width: 60px;
    }
    .gnb>ul{
        margin-top: 120px;
    }
    .gnb>ul>li>a{
        font-size: 40px;
        font-weight: bold;
        margin-left: 15px;
    }
    .gnb ul{margin-left: 20px;}
    .gnb ul li{
        margin: 50px 0px;
    }
    .gnb ul li a{
        color: #fff;
    }
    .sub{display: none;}
    .sub li a{font-size: 1rem;}
    .gnb_wrap h1 img{width: 100%;}
    header .btn-language{display: none;}
    .menu_btn, .close_btn{
        position: absolute;
        font-size: 40px;
        right: 30px;
        top: 15px;
        color: #fff;
        z-index: 2;
    }
    .close_btn{
        position: absolute;
        left: 30px;
    }
    #toggle:checked+.gnb_wrap{
        display: block;
    }

    .gnb_bottom{
        display: block;
        font-size: 1rem;
        margin-left: 40px;
        border-top: 1px solid #000;
        padding: 40px 0px 60px 0px;
    }
    .gnb_bottom li{
        line-height: 50px;  
    }
    .gnb_bottom li a, .sns i{
        color: #fff;
    }
    .sns{margin-top: 20px;}
    .sns i{font-size: 40px;
        }
     .m_slide{
    height: 950px;}
    .m_slide img{
        height: 950px;}
    .m_slide>h2{display: none;}    
    .m_first {
        width: 100%;
        height: 600px;
        position: relative;
    }
    .m_first article{
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        top:150px;
    }
    .m_first h2{display: none;}
    .m_first h3{
        text-align: center;
        font-size: 23px;}
    .m_first p{
        text-align: center;
        padding-top: 20px;
        font-size: 18px;}
    .m_first i{font-size: 25px;}
    .pupple{
        width: 300px;
    }
    .pupple img{
        width: 100%;
        padding-top: 20px;}

    .move{
        width: 600px;
        margin: 0 auto;
        position: relative;
        right: 100px;
    }
    .move ul li{
        display: block;
        width: 500px;
        padding: 15px 10px 15px 0px;
    }
    .move ul li a{
        font-size: 20px;
    }
   /* .m_last{
    position: relative;}
   .m_last article{
    margin: 0px;
    position: absolute;
    left: 150px;
    
   }
   .social img{
    width: 100px;
    height: 100px;
   }
   .recruit img{
    width: 500px;
    height: 100px;
   }
   .m_last article .social h2{
    font-size: 20px;
    margin: 0px;
   }
   .m_last article .social a p{
    font-size: 15px;
    margin: 0px;
   }
   .m_last article .social{
    position: relative; 
    right: 50px;
   }                      article .recruit a h2{
    font-size: 20px;
    margin: 0px;
   }
   .m_last article .recruit a p{
    font-size: 15px;
    margin: 0px;
   }
   .m_last article .recruit{
    position: relative;
    right: 35px;
   }
   .m_last article .thema_menu a h2{
    font-size: 20px;
    margin: 0px;
   }
   .m_last article .thema_menu a p{
    font-size: 15px;
    margin: 0px;
   }
   .m_last article .thema_menu{
    position: relative;
    right: 35px;
   }
   .social{
    position: absolute;
    top: -20px; 
} */
    .m_last{position: relative;}
    .m_last article{
        position: absolute;
        left: 150px;
    }
    .social{
        width: 100%;
        background: yellow;
    }
    .thema_menu{
        width: 200px;
        background: yellow;
    }
    .social a{
        display: inline-block;
        width: 100%;
    }
    
    .social>a>h2{
        font-size: 2rem;
        margin:0 px;
    }
    .social>a>p{
        font-size: 1rem;
    margin: 0px;}
    .social a>.line_img1{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .recruit{
        width: 100%;
        background: orange;
    }
    .recruit a{
        display:inline-block;
        width: 100%;
    }
    
    .recruit>a>h2{
        font-size: 2rem;
        margin: 0px;
    }
    .recruit>a>.r_title{
        font-size: 2rem;
    margin: 0px;
padding-left: 10px;
padding-top: 20px;}
    .recruit a>.line_img2{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .thema_menu{
        width: 100%;
    }
    .thema_menu a{
        display:inline-block;
        width: 100%;
    }
    
    .thema_menu>a>h2{
        font-size: 2rem;
        margin: -20px;
    }
    .thema_menu>a>.t_title{
        font-size: 2rem;
    margin: 0px;
padding-top:20px;
padding-left: 30px;}
    .thema_menu a>.line_img3{
        width: 100%;
        height: 100%;
        margin: 0px;
    }


   .f_nav a{font-size: 20px;}
   .m_first{height: 900px;
    position: relative;
    
   }
   .m_first article{
    height: 750px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
   }
   .m_first article img{
    margin-left:250px;
    width: 200px;
   }
   .m_first h3{
    font-size: 1rem;
}
   .m_first p{
    font-size: 1rem;}
    .coffinmall h3,.coffinmall p{
        position: absolute;
        top: 100px;
    }
    .pupple h3,.pupple p{
        position: absolute;
        top: 380px;
    }
    .store h3,.store p{
        position: absolute;
        top: 600px;
    }
    .i_first{position: absolute;
    top: 90px;
    left: 120px;}
    .i_second{
        position: absolute;
        top: 345px;
        left: 150px;
    }
    .i_third{
        position: absolute;
        top: 590px;
        left: 70px;
    }
    .menu_story h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    label{font-size: 1rem;
    padding-right: 2%;}
    label[for="wine"]{
        overflow: hidden;
    }
    .franchise h2{font-size: 3rem;
    margin-left: -40px;}
    .f_wrap .f_first,.f_wrap .f_last{font-size: 15px;}
    .move{
        width: 200%;}

    .move ul li a{
        font-size: 1rem;
        padding-right: 5px;
        }
}