@charset "utf-8";
/* mobile.css서식 */
@media screen and (max-width:767px) {
  .close_btn,.menu_btn{display: block;}
    .icon{text-indent: -9000px;}
    .gnb_wrap{
        width: 100%;
        height: 100%;
        background: #82426C;
        z-index: 1;
        display: none;
        /* right: 0px; */
    }
    .gnb_wrap h1{
        position: absolute;
        top: 15px;
        right: 50%;
        width: 60px;
    }
    .gnb>ul{
        margin-top: 120px;
    }
    .gnb>ul>li>a{
        font-size: 40px;
        font-weight: bold;
        margin-left: 15px;
    }
    .gnb ul{margin-left: 20px;}
    .gnb ul li{
        margin: 50px 0px;
    }
    .gnb ul li a{
        color: #fff;
    }
    .sub{display: none;}
    .sub li a{font-size: 1rem;}
    .gnb_wrap h1 img{width: 100%;}
    header .btn-language{display: none;}
    .menu_btn, .close_btn{
        position: absolute;
        font-size: 40px;
        right: 30px;
        top: 15px;
        color: #fff;
        z-index: 2;
    }
    .close_btn{
        position: absolute;
        left: 30px;
    }
    #toggle:checked+.gnb_wrap{
        display: block;
    }

    .gnb_bottom{
        display: block;
        font-size: 1rem;
        margin-left: 40px;
        border-top: 1px solid #000;
        padding: 40px 0px 60px 0px;
    }
    .gnb_bottom li{
        line-height: 50px;  
    }
    .gnb_bottom li a, .sns i{
        color: #fff;
    }
    .sns{margin-top: 20px;}
    .sns i{font-size: 40px;
        }
     .m_slide{
    height: 950px;}
    .m_slide img{
        height: 950px;}
    .m_slide>h2{display: none;}    

    .m_first {
        width: 100%;height: 100vh;
        position: relative;
    }
    .m_first article{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        top: 40px;
        width: 80%;
        margin: 0 auto;
        height: 80vh;
    }
    .m_first article img{
        margin-left:250px;
        width: 200px;
    }
    .m_first h2{display: none;}
    .m_first h3{
        text-align: center;
        font-size: 1.4rem;
    }
    .m_first p{
        text-align: center;
        padding-top: 40px;
        font-size: 1.1rem;
    }
    .m_first i{
        position: absolute;
        font-size: 25px;
    }
    .m_first .i_first{
        top: 100px;left: 150px;
    }
    .m_first .i_second{
        top: 380px;left: 210px;
    }
    .m_first .i_third{
        top: 600px;left: 100px;
    }
    .pupple{width: 300px;}
    .pupple img{
        width: 100%;
        padding-top: 20px;
    }
    .coffinmall h3,.coffinmall p{
        position: absolute;
        top: 100px;
    }
    .coffinmall .pupple .store{
        background: green;
    }
/*메뉴스토리*/
    .menu_story{
        width: 100%;
        height: 100vh;
        background:#ccc;
    }
    .menu_txt{
        width: 100%;
        margin: 0 auto;
        padding-top: 80px;
    }
    .menu_txt>h2{
        font-size: 2rem;
        padding-bottom: 30px;
        text-align: center;
    }
    .menu_txt label{
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 0 2%;
        background: green;
    }
    .menu_txt label:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .menu_txt ul{
        margin-top: 100px;
        width: 100%;
        height: 300px;
    }
    .menu_txt ul img{
        width: 100%;
    }
    .menu_txt .coffee{
        background: yellow;
    }
    .menu_txt .dessert{
        background: blue;
    }
    .menu_txt .deli{
        background: purple;
    }
    .menu_txt .wine{
        background: green;
    }
    .menu_txt .c_slide{
        display: none;
    }
    #tab01:checked~.coffee{display: block; display: flex;}
    #tab02:checked~.dessert{display: block; display: flex;}
    #tab03:checked~.deli{display: block; display: flex;}
    #tab04:checked~.wine{display: block; display: flex;}


    
    .move{
        width: 600px;
        margin: 0 auto;
        position: relative;
        right: 100px;
    }
    .move ul li{
        display: block;
        width: 500px;
        padding: 15px 10px 15px 0px;
    }
    .move ul li a{
        font-size: 20px;
    }

/*프랜차이즈*/
.franchise{
    height: 970px;
    background: rgba(204, 204, 204,.5);
    position: relative;
    overflow: hidden;
}
.franchise dl dt{
    display: inline-flex;
    position: relative;
    z-index: 10;
    overflow: hidden;
    top: 20px;
    left: 105px;
    width: auto;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 32px;
    border-bottom-left-radius: 0;
    padding: 0 16px;
    background-color: #d50037ad;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.franchise .name{
    width: 200px;
    color: #fff;
}
.franchise dl dd img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.franchise dl dt{
    color: #fff;
}


.franchise>article{
    width: 80%;
    height: 780px;
    margin: 0 auto;
    position: relative;
}
.franchise article .f_wrap{
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 250px;
    z-index: 2;
}
.franchise article .f_wrap h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-80%);
    
}
.franchise article p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 1rem;
}
.franchise .f_first{
    font-size: 20px;
    line-height: 30px;
}
.franchise .f_last{
    font-size: 18px; 
    margin-bottom: 50px;
    line-height: 30px;
}
.move ul{
    display: flex;
    justify-content: space-evenly;
}
.move ul li{
    width: 400px;
    font-size: 1rem;
    border: 1px solid #000;
    width: 200px;
    padding: 15px 25px 15px 5px;
    position: relative;
    display: inline-block;
}
.ani_back{
    background-color: yellow;
    position: absolute;
    top: 0;left: 0px;
    width: 3840px;

}
.ani_back > div{
    position: absolute;
    z-index: 1;
}
.name1{
    top:60px;left: 200px;
    animation: name1 10s infinite;
}
.name2{
    top:600px;left: 1400px;
    animation: name2 10s infinite;
}
.name3{
    top:100px;left: 2120px;
    animation: name3 10s infinite;
}
.name4{
    top:600px;left: 4320px;
    animation: name4 10s infinite;
}
@keyframes name1{
    0%{left:200px;}
    100%{left: -1920px;}
}
@keyframes name2{
    0%{left:1400px;}
    100%{left: -520px;}
}
@keyframes name3{
    0%{left:3120px;}
    100%{left: -300px;}
}
@keyframes name4{
    0%{left:4020px;}
    100%{left: -300px;}
}
.btn-grad {
    background: #Fff;
    margin: 10px;
    padding: 15px 100px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
    }

.btn-grad:hover{
    background-position: right center; 
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    background: #000;
    }
.btn-grad:hover a{
    color: #fff;
}
.fa-solid{
    position: absolute;
    right: 10px;
}

/*사회공헌,recruit,thema menu*/
    .m_last{
        height: 100vh;
        position: relative;
    }
    .m_last article{
        width: 68%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        position: absolute;
        top: 20%;
        left: 16%;
    }
    .m_last article>h2{display: none;}
    .m_last article div img{
        width: 180px;
        height: 180px;
    }
    .m_last article h2{font-size: 2.5rem;}
    .m_last .social{
        position: relative;
    }
    .m_last .social .s_title:hover{text-decoration: underline;}
    .m_last article .s_title{margin:35px 20px;}
    .m_last article .r_title{margin: 20px 50px 40px 0px;}
    .m_last article .t_title{margin: 10px 20px 40px 30px; }
    .m_last article p{font-size: 20px;line-height: 30px;
    margin-top: 30px;
    }
    .m_last .recruit .r_title:hover{
        text-decoration: underline;
    }
    .m_last .thema_menu{
        margin: 0 0px 0 0;
        position: relative;
        top: 340px;
        right: 10px;

    }
    .m_last .thema_menu .t_title:hover{
        text-decoration: underline;
    }
    .m_last .thema_menu .t_title{
        font-size: 1.8rem;
    }
    .social a:hover .heart{
        animation: ex1 5s infinite;
    }
    .recruit a:hover .rec{
        animation: ex1 5s infinite;
    }
    .thema_menu a:hover .smile{
        animation: ex1 3s infinite;
    }
    @keyframes ex1{
        0%{margin-top: 30px;}
        50%{margin-top: 0px;}
        100%{margin-top: 30px;}
    }
    .m_last .c_icon{
        width: 50px;
        height: 50px;
        position: absolute;
        top: -80px;
        left: 80px;
    }
    .m_last .social{
        margin: 0 10px 0 0;
        position: relative;
        left: 250px;
        top: -60px;
    }
    .m_last .recruit{
        margin: 0 0px 0 0;
        position: relative;
        top: 350px;
        left: -150px;
    }
    .m_last div img{
        width: 180px;
        height: 180px;
    }

    .m_last div a p{
        width: 210px;
        height: 140px;
        font-size: 1.2rem;
        position: relative;
        top: -20px;
    }
    
 /*하단영역*/
    .f_nav a{font-size: 1rem;}
    .f_nav .info dl{font-size: 0.8rem;
    line-height: 20px;}
    .f_bottom ul li a{font-size: 0.9rem;}
    .pupple h3,.pupple p{
        position: absolute;
        top: 380px;
    }
    .store h3,.store p{
        position: absolute;
        top: 600px;
    }
    .i_first{position: absolute;
    top: 90px;
    left: 120px;}
    .i_second{
        position: absolute;
        top: 345px;
        left: 150px;
    }
    .i_third{
        position: absolute;
        top: 590px;
        left: 70px;
    }
    .menu_story h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    label{font-size: 1rem;
    padding-right: 2%;}
    label[for="wine"]{
        overflow: hidden;
    }

    .f_wrap .f_first,.f_wrap .f_last{font-size: 15px;}
    .move{
        width: 200%;}

    .move ul li a{
        font-size: 1rem;
        padding-right: 5px;
        }
}