@charset "utf-8";

@media screen and (min-width:768px) and (max-width:1024px){
    .close_btn,.menu_btn{display: block;}
    .icon{text-indent: -9000px;}
    .gnb_wrap{
        width: 100%;
        height: 100%;
        background: #82426C;
        z-index: 1;
        display: none;
        /* right: 0px; */
    }
    .gnb_wrap h1{
        position: absolute;
        top: 15px;
        right: 50%;
        width: 60px;
    }
    .gnb>ul{
        margin-top: 120px;
    }
    .gnb>ul>li>a{
        font-size: 40px;
        font-weight: bold;
        margin-left: 15px;
    }
    .gnb ul{margin-left: 20px;}
    .gnb ul li{
        margin: 50px 0px;
    }
    .gnb ul li a{
        color: #fff;
    }
    .sub{display: none;}
    .sub li a{font-size: 1rem;}
    .gnb_wrap h1 img{width: 100%;}
    header .btn-language{display: none;}
    .menu_btn, .close_btn{
        position: absolute;
        font-size: 40px;
        right: 30px;
        top: 15px;
        color: #fff;
        z-index: 2;
    }
    .close_btn{
        position: absolute;
        left: 30px;
    }
    #toggle:checked+.gnb_wrap{
        display: block;
    }

    .gnb_bottom{
        display: block;
        font-size: 1rem;
        margin-left: 40px;
        border-top: 1px solid #000;
        padding: 40px 0px 60px 0px;
    }
    .gnb_bottom li{
        line-height: 50px;  
    }
    .gnb_bottom li a, .sns i{
        color: #fff;
    }
    .sns{margin-top: 20px;}
    .sns i{font-size: 40px;
        }
    /* .icon i{display: none;} */
    .m_slide{
    height: 950px;}
    .m_slide img{
        height: 950px;}
    .m_slide>h2{display: none;}
    .m_first {
        width: 100%;
        height: 600px;
        position: relative;
    }
    .m_first article{
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        top:150px;
    }
    .m_first h2{display: none;}
    .m_first h3{
        text-align: center;
        font-size: 23px;}
    .m_first p{
        text-align: center;
        padding-top: 20px;
        font-size: 18px;}
    .m_first i{font-size: 25px;}
    .pupple{
        width: 300px;
    }
    .pupple img{
        width: 100%;
        padding-top: 20px;}

    .i_first{
        position: absolute;
        left: 250px;
        top: 0px;
    }
    .i_second{
        position: absolute;
        left: 620px;
        top: 0;
    }
    .i_third{
        position: absolute;
        top: 0;
        right: 50px;
    }
    .move{
        width: 600px;
        margin: 0 auto;
        position: relative;
        right: 100px;
    }
    .move ul li{
        display: block;
        width: 500px;
        padding: 15px 10px 15px 0px;
    }
    .move ul li a{
        font-size: 20px;
    }
   .m_last{
    position: relative;}
   .m_last article{
    margin: 0px;
    position: absolute;
    left: 150px;
    
   }
   .m_last h2{
    font-size: 13px;
   }
   .social{
    position: absolute;
    top: -20px; 
}


   .f_nav a{font-size: 20px;}
   
}